* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', serif;
  background-color: #ebf2ff;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #fff;
}

.navbar__brand {
  width: 100px;
}

.navbar__logo {
  width: 100%;
}

.button__primary  {
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
     #dd2476 51%,
     #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary :hover {
  border: 2px solid #FF6767;
  cursor: pointer;
}

.container {
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.hero__image__container {
  width: 100%;
}

.hero__image {
  width: 100%;
  border-radius: 8px;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%);
}

.hero__text {
  font-weight: 800;
  font-size: 30px;
  margin: 20px 0;
  color: #1d3557;
}

.food__card__description {
  padding: 15px;
}

.food__card {
  background-color: #F9F9F9;
}

.food__card__image__container {
  width: 100%;
}

.food__image {
  border-radius: 8px 8px 0 0;
  width: 100%;
}

.explore__menu__text {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
  color: #1d3557;
}

@media (min-width: 768px) {
  .explore__menu__lists {
  margin-top: 45px;
    display: flex;
    gap: 15px;
    padding: 0 30px;
  }

  .explore__menu__container {
    position: relative;
  }

  .explore__menu__gradient__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      to right,
      #ff512f 0%,
       #dd2476 51%,
       #ff512f 100%
      );
    z-index: -3;
    transform: skewY(-5deg);
  }

  #pizza__card {
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .navbar {
    justify-content: space-between;
    padding: 10px 30px;
  }

  .hero__container {
    margin-top: 20px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
}

@media (min-width: 1024px) {
  .container {
     max-width: 70%;
  }

  .explore__menu__lists {
    gap: 25px;
  }

   .navbar__brand {
     width: 150px;
   }

   .button__primary  {
     padding: 20px;
     font-size: 20px;
   }

   .hero__description {
     width: 100%;
   }

   .hero__text {
     font-size: 50px;
   }

   .explore__menu__text {
     font-size: 48px;
   }
}
.restaurant__list__text {
  margin: 1rem 0;
}

.restaurant__list__container {
  margin-top: 3rem;
}

.restaurant__list__row_1 {
  display: flex;
  align-items: baseline;
}
.restaurant__list__row_2 {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
}
.restaurant2,
.restaurant4 {
  border-radius: 4px;
  margin: 0 5px;
  width: 200px;
  height: 100px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.restaurant1,
.restaurant3 {
  border-radius: 4px;
  margin: 0 5px;
  width: 150px;
  height: 80px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.email__subcribe__container {
  margin-top: 3rem;
  width: 100%;
  padding: 15px;
  margin-right: auto;
  margin-left: auto;
}

.email__subcribe__input__field {
  display: flex;
  align-items: center;
}

.email__input {
  border: 1px solid #ee89a0;
  background-color: #fcedf0;
  color: #1d3557;
  font-weight: 700;
  padding: 0.5rem;
  border-radius: 4px;
}

.email__input::placeholder {
  color: #bdbcbc;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem 1rem 0 0;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
}

footer > img {
  width: 300px;
  filter: brightness(0) invert(1);
}

footer > ul {
  margin-top: -1rem;
  color: #fff;
}

footer > ul > li {
  margin: 5px 0;
}

.quote__container {
  position: relative;
  margin-top: 4rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background: url("https://images.unsplash.com/photo-1522336572468-97b06e8ef143?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=755&q=80")
    center center / cover no-repeat;
}
.quote_image_overlay {
  position: absolute;
  height: 200px;
  width: 100%;
  border-radius: 13px;
  background-color: #0a4065;
  opacity: 49%;
}
.quote_image_text {
  color: #fff;
  z-index: 3;
  margin: 0 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .hide__mobile {
    display: block !important;
  }
  .mobile__only {
    display: none !important;
  }
  .hero__container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  .hero__image {
    margin-top: 2rem;
  }

  .text-xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  .food__list__container {
    position: relative;
    margin: 5rem 0;
  }
  .food__list__container__diagonal {
    left: 0px;
    position: absolute;
    top: 0px;

    height: 100%;
    width: 100%;

    transform: skewY(-5deg);

    background-image: linear-gradient(
      to right,
      #ff512f 0%,
      #dd2476 51%,
      #ff512f 100%
    );
    z-index: -3;
  }

  .food__menu__card__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 2rem;
  }
  .food__menu__card {
    flex-basis: 30%;
    background-color: #fff;
    border-radius: 6px;
  }

  .food__menu__card__move__up {
    margin-top: -1rem;
    margin-bottom: 1rem;
  }

  .food__list__view__more {
    background: none;
  }


  .restaurant__list__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .restaurant__list__row_1 {
    justify-content: center;
  }
  .restaurant__list__row_2 {
    margin-top: 3px;
    align-items: flex-start;
    justify-content: center;
  }
  .email__subcribe__container {
    display: flex;

    justify-content: center;
  }
  .email__input {
    width: 20rem;
  }

  .quote__container {
    height: 300px;
    width: 100%;
  }
  .quote_image_overlay {
    position: absolute;
    height: 300px;
    width: 100%;
    border-radius: 13px;
    background-color: #0a4065;
    opacity: 49%;
  }
  .quote_image_text {
    color: #fff;
    z-index: 3;
    margin: 0 1rem;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2;
  }
  footer {
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
  .navbar {
    padding: 0 3rem;
  }
  .button__primary {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .hero__text {
    font-size: 3rem;
    line-height: 1;
  }
  .text-xl {
    font-size: 3rem;
    line-height: 1;
  }

  .video__footage__container {
    display: flex;
    flex-direction: column;
  }
  .video__footage__text {
    width: 60%;
  }

  .food__menu__card__list {
    margin-top: 2rem;
  }
  .food__list__view__more {
    margin-top: 4rem;
    cursor: pointer;
  }
  .food__list__view__more:hover {
    background: #fff;
    color: #dd2476;
    margin: 4rem 20rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  }
  .restaurant2,
  .restaurant4 {
    width: 300px;
    height: 260px;
  }
  .restaurant1,
  .restaurant3 {
    width: 250px;
    height: 180px;
  }
}
